[DEFAULT]
SPOTIFY_CLIENT_ID = 522bbce9e51344b785ad73bbf865296e
SPOTIFY_CLIENT_SECRET = 7b27d7451fde4045a7d330eff7aeb734
SPOTIFY_REDIRECT_URI = https://example.com/callback
SPOTIFY_USER_REFRESH = AQBvaf8c7t4p73lYi3R1T-PLoMOpHdtjh2QeBbX1gBqENkSiyWXBbaEIyNS8bd_xy_-7fMwT2i7eT-IVVrXIP4BJ0AhW9o3yyNFES3EBk-zqcPtugXfQss2Uu6PUghYuaPk

